<h2 mat-dialog-title>Compound:</h2>

<mat-dialog-content>
  <form
    [formGroup]="compoundService.compoundForm"
    class="normal-form"
    (ngSubmit)="onSubmit()"
  >
    <h3 class="form-header">Basic properties:</h3>
    <mat-divider></mat-divider>

    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="compoundId" />
          <mat-form-field>
            <input
              formControlName="name"
              matInput
              placeholder="Compound name*"
            />
            <!-- <mat-error>This field is mandatory</mat-error> -->
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="cas"
              matInput
              placeholder="CAS identifier*"
            />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="we" matInput placeholder="WE identifier*" />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="formula"
              matInput
              placeholder="Compound formula*"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <input formControlName="un" matInput placeholder="UN identifier" />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="baseClass"
              matInput
              placeholder="Base class"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="helperClass"
              matInput
              placeholder="Helper class"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select
              formControlName="packagingGroup"
              placeholder="Select packaging group"
            >
              <mat-option [value]="null">No packaging group</mat-option>
              <mat-option value="I">Packaging group: I</mat-option>
              <mat-option value="II">Packaging group: II</mat-option>
              <mat-option value="III">Packaging group: III</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="additional-params">
      <mat-checkbox
        [(checked)]="neutralCompound"
        (change)="toggleNeutralCompound()"
      >
        Neutral compound
      </mat-checkbox>
    </div>

    <h3 class="form-header">Hazard statements:</h3>
    <mat-divider></mat-divider>
    <mat-selection-list
      dense
      formControlName="hazardStatementDtos"
      [compareWith]="compareHazardStatements"
    >
      <mat-grid-list cols="2" rowHeight="45px">
        <mat-grid-tile *ngFor="let h of hazardStatements">
          <mat-list-option [value]="h" checkboxPosition="before">
            <span class="inline-flag"
              ><span>{{ h.code }}:</span>{{ h.text }}</span
            >
          </mat-list-option>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-selection-list>

    <h3 class="form-header">Precautionary statements:</h3>
    <mat-divider></mat-divider>
    <mat-selection-list
      dense
      formControlName="precautionaryStatementDtos"
      [compareWith]="comparePrecautionaryStatements"
    >
      <mat-grid-list cols="2" rowHeight="45px">
        <mat-grid-tile *ngFor="let p of precautionaryStatements">
          <mat-list-option [value]="p" checkboxPosition="before">
            <span class="inline-flag">
              <span>{{ p.code }}:</span>
              {{ p.text }}
            </span>
          </mat-list-option>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-selection-list>

    <h3 class="form-header">Pictograms:</h3>
    <mat-divider></mat-divider>
    <mat-selection-list
      dense
      formControlName="pictogramDtos"
      [compareWith]="comparePictograms"
    >
      <mat-grid-list cols="2" rowHeight="45px">
        <mat-grid-tile *ngFor="let p of pictograms">
          <mat-list-option [value]="p" checkboxPosition="before">
            <div class="pictogramsList">
              <img
                class="valign"
                [src]="[p.path]"
                [alt]="[p.code]"
                height="40"
                width="40"
              />
              <span class="inline-flag">
                <span>{{ p.code }}:</span> {{ p.name }}
              </span>
            </div>
          </mat-list-option>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-selection-list>
  </form>
  <!-- debug -->

  <!-- <pre> {{ compoundService.compoundForm.getRawValue() | json }} </pre> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="button-row">
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      type="submit"
      [disabled]="!compoundService.compoundForm.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button mat-raised-button color="warn" type="button" (click)="onReset()">
      Reset
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </div>
</mat-dialog-actions>
